<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CarsFactoryDB" connectionString="server=localhost;user id=root;password=password;persistsecurityinfo=True;database=CarsFactoryDB" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>